#daftar-siswa {
  background-color: #4b515c;
}

p {
  color: #f3f4f6;
  font-weight: 400;
  font-family: sans-serif;
  margin: 0;
}

.siswa {
  padding: 15px 10px;
}

p:hover {
  background-color: #e5e7eb;
  color: #111827;
}
